
<mat-toolbar color="primary">
  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxFlex="1 1 80%" class="left" fxLayout="row" fxLayoutAlign="flex-start center">

      <div class="menu" [class.invisible]="!store.authenticated" fxFlex="0 0 auto">
        <i class="material-icons" (click)="store.pubLeftNavClosed(!store.leftNavClosed)"
           matTooltip="Main menu" matTooltipShowDelay="500" matTooltipHideDelay="300">menu</i>
      </div>

      <div class="logo" fxFlex="0 0 auto">
        <a routerLink="/">
          <span class="logo1">DK</span> <span class="logo2">Contacts</span>
        </a>
      </div>

      <div *ngIf="store.authenticated" class="search-div" fxFlex="1 1 auto">
        <dk-contact-search></dk-contact-search>
      </div>
    </div>

    <div class="right" *ngIf="!!store.usr.user" fxLayout="row" fxLayoutAlign="flex-end center">
      <div>
        <span class="pic">{{store.usr.user.name[0].toUpperCase()}}</span>
        <span class="user">{{store.usr.user.name}}</span>
        <a class="logout" href="javascript:void(0)" (click)="logout()"
           matTooltip="Logout" matTooltipShowDelay="500" matTooltipHideDelay="300">logout</a>
      </div>
    </div>

  </div>
</mat-toolbar>

