
<div tabindex="0" class="list-item" fxLayout="row" fxLayoutAlign="space-between center">

  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
    <div class="pic" fxFlex="0 0 auto">
      <div class="letter">{{contact.name[0].toUpperCase() || contact.business[0].toUpperCase()}}</div>
    </div>

    <div fxFlex="1 0 auto">{{contact.name || contact.company}}</div>
  </div>

  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center" fxHide.lt-sm *ngIf="contact.emails && contact.emails.length > 0">
    <a href="mailto:{{contact.emails[0].email}}" (click)="$event.stopPropagation()">{{contact.emails[0].email}}</a>
  </div>
  <div fxHide.lt-sm *ngIf="!contact.emails || contact.emails.length === 0"></div>

  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center" fxHide.lt-lg *ngIf="contact.phones && contact.phones.length > 0">
    <div *ngIf="contact.phones[0].country">{{contact.phones[0].country}} - </div>
    <div>{{contact.phones[0]?.phone}}</div>
  </div>
  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center" fxHide.lt-lg *ngIf="!contact.phones || contact.phones.length ===0"></div>

  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center" fxHide.lt-xl>{{contact.notes}}</div>
  <div class="icons">
    <i class="material-icons" (click)="parent.editContact($event, contact, 'edit')">edit</i>
  </div>
</div>

