

<div tabindex="0" class="list-item" fxFlex="grow" fxLayout>

  <div class="pic" fxFlex="none" fxLayout>
    <div class="letter">{{(contact.name && contact.name[0].toUpperCase()) || (contact.company && contact.company[0].toUpperCase())}}</div>
  </div>

  <div class="columns" tabindex="0" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="name text-ellipsis"
         fxFlex.xs="0 1 100%" fxFlex.sm="0 1 46%" fxFlex.md="0 1 46%" fxFlex.lg="0 1 30%" fxFlex.xl="0 1 23%">
      {{contact.name && contact.company ? contact.name + ' - ' + contact.company : contact.name || contact.company}}</div>

    <div  fxLayout="row" fxLayoutAlign="start center"
         fxHide.lt-sm fxFlex.sm="0 1 46%" fxFlex.md="0 1 46%" fxFlex.lg="0 1 30%" fxFlex.xl="0 1 23%">
      <div class="text-ellipsis" *ngIf="contact.emails.length > 0">
        <a class="text-ellipsis" href="mailto:{{contact.emails[0].email}}" (click)="$event.stopPropagation()"
           (click)="$event.stopPropagation()" target="_blank">{{contact.emails[0].email}}</a>
      </div>
      <div *ngIf="contact.emails.length === 0">&nbsp;</div>
    </div>

    <div  fxLayout="row" fxLayoutAlign="start center" fxHide.lt-lg fxFlex.lg="0 1 30%" fxFlex.xl="0 1 23%">
      <div class="text-ellipsis" *ngIf="contact.phones.length > 0">
        <a href="tel:{{Util.getPhoneNo(contact.phones[0])}}" class="text-ellipsis-block"
           (click)="$event.stopPropagation()" target="_blank">{{Util.getPhoneDisplay(contact.phones[0])}}</a>
      </div>
      <div  *ngIf="contact.phones.length === 0">&nbsp;</div>
    </div>

    <div  fxHide.lt-xl fxFlex.xl="0 1 23%" fxLayout="row" fxLayoutAlign="start center">
      <div class="text-ellipsis" *ngIf="contact.notes"> {{contact.notes}}</div>
      <div *ngIf="!contact.notes">&nbsp;</div>
    </div>

  </div>

  <div class="icons">
    <div class="wrap" (click)="parent.editContact($event, contact, 'edit')"><i class="material-icons"
        matTooltip="Edit contact" matTooltipShowDelay="500" matTooltipHideDelay="300">edit</i></div>
    <div class="wrap" style="padding-right:10px;" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"
    (onMenuClose)="menuClose()" (onMenuOpen)="menuOpen()"><i class="material-icons"
        matTooltip="More actions" matTooltipShowDelay="500" matTooltipHideDelay="300">more_vert</i></div>
  </div>

</div>

<mat-menu [overlapTrigger]="true" class="more-actions" xPosition="before" yPosition="below">
  <button mat-menu-item *ngIf="hasSelectedLabel()" (click)="removeLabelFromContact($event)">
    <i class="left material-icons mat-icon">cancel</i>
    <span>Remove from label</span>
  </button>
  <button mat-menu-item (click)="deleteContact($event)">
    <i class="left material-icons mat-icon">delete</i>
    <span>Delete</span>
  </button>
  <div class="separator"></div>
  <span class="label">Change labels</span>
  <button mat-menu-item *ngFor="let label of labels" (click)="toggleLabel($event, label)">
    <i class="left material-icons mat-icon">label</i>
    <span>{{label.name}}</span>
    <i class="right material-icons" *ngIf="label.selected">check</i>
  </button>
</mat-menu>

