@import '../../../../styles/comp-index';



.list-item {
  position: relative;
  height: 56px;
  overflow: hidden;
  &:hover {
    background-color: $bg-light-gray;
  }

  $width-pic: 68px;
  .pic {
    width: $width-pic;
    height: 56px;
    padding: 4px;
    patting-right: 12px;
    margin-left: 8px;
    display: flex;
    .letter {
      margin: auto;
      color: white;
      width: 36px;
      height: 36px;
      //display: inline-block;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      font-weight: 300;
      background-color: $mat-warn;
      border: 1px solid $mat-warn;
      border-radius: 50%;
    }
  }

  $width-pic-plus-margin: $width-pic + 8px + 8px;
  .flex-cont {
    margin-right: 8px;
    max-width: calc(100% - #{$width-pic-plus-margin});
  }



  .icons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }
}
