



<dk-leftnav-label [label]="staticLabels.contacts" (click)="handleLabel(staticLabels.contacts)" (keydown)="keydown($event, staticLabels.contacts)"
                  [class.active]="selectedLabel === staticLabels.contacts"></dk-leftnav-label>

<hr>

<div *ngFor="let label of store.state.user.labels">
  <dk-leftnav-label [label]="label" (click)="handleLabel(label)" (keydown)="keydown($event, label)"
                    [class.active]="selectedLabel === label"></dk-leftnav-label>
</div>

<hr>

<div *ngFor="let label of staticLabels.extras">
  <dk-leftnav-label [label]="label" (click)="handleLabel(label)" (keydown)="keydown($event, label)"></dk-leftnav-label>
</div>
