
@import '../../../../styles/comp-index';

:host {
  transition: margin-left 200ms;
  width: 259px;
  margin-left: 0;
  padding-top: 15px;
  border-right: 1px solid $gray-border;
  overflow-y: auto;
}

:host(.closed) {
  margin-left: -259px;
}

:host /deep/ .mat-expansion-panel-body {
  padding-left: 0;
}

mat-expansion-panel.labels {
  margin-top: -6px;
}

:host /deep/ .mat-expansion-panel-body > div {
  height: 41px;
}
