@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
  //outline: none;
}

i {
  text-decoration: none;
}

a {
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    color: $color-link !important;
  }
}

