
/*
though not much examples of it here, this is where we have to do the specific material overrides in viewEncapsulation
emulated mode. I.e. in emulated, if we try to do: mat-dialog {} angular will change this to mat-dialog[xxx]
when they tag all elements and css classes with host and component attribute ids for isolation. Whereas this might work
for a mat-dialog (should) what you really wanted is: mat-dialog .mat-dialog-content. Here angular will tag "both" these
classes with [xxx] and since the latter is in the material component, it won't have xxx attribute so fails. In that
light you 2 solutions: 1) namespace the css in your component, then come up here (global where things don't get tagged)
and do: .namespace .mat-dialog-content. The other solution is to follow material's lead and just use ViewEncapsulation.None
then all css is global and no tagging and then you need to namespace all your component css to keep it from bleeding
into global, but this is how things have always been so no biggy.

In the end, you were on the fence for emulated vs none and decided the css encapsulation of emulated and the fact it's
their default mode (must have wanted that, albeit angular/cli generator defaults to None), so you went with emulated.
I figure probably cleaner to just use None and keep the specific css in each component instead of overrides up here. Then
again, there's an advantage to having all material overrides in one place.
 */

.mat-toolbar {
  align-items: center;
}

mat-expansion-panel.exp-panel-leftnav {
  margin-top: -6px;

  .mat-expansion-panel-body {
    padding-left: 0;
  }
}

// this changes all of them without the config panelClass=contactDetailCssHack to single it out
.contactDetailCssHack .mat-dialog-container {
  padding: 0;
  overflow-y: unset;
  overflow-x: unset;
}

.mat-dialog-content {
  overflow: unset;
}

.mat-dialog-actions {
  flex-direction: row-reverse;
  margin-top: 14px;
}

.bg-modal-backdrop {
  background-color: rgba(0,0,0,.1);
  //background-color: transparent;
}

.mat-menu-content {
  $color: #757575;
  .separator {
    margin: 7px 0;
    border-top: 1px solid $color;
  }
  .label {
    font-size: 12px;
    margin-left: 16px;
    color: $color;
  }

}

.more-actions .mat-menu-item {
  font-size: 14px;
  padding-right: 30px;

  i.left {
    font-size: 20px;
  }
  i.right {
    font-size: 26px;
    position: absolute;
    top: 10px;
    right: 5px;
  }
}

