
<div class="dialog">

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="left" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <div class="pic" fxFlex="none">
        <div class="letter">{{(contact.name && contact.name[0].toUpperCase()) || (contact.company && contact.company[0].toUpperCase())}}</div>
      </div>

      <div class="name-labels" fxFlex="grow">
        <div class="name-div" fxLayout="column" fxLayoutAlign="end start">
          <div class="name text-ellipsis">{{contact.name && contact.company ? contact.name + ' - ' + contact.company : contact.name || contact.company}}</div>
        </div>
        <div class="labels">
          <span class="label text-ellipsis-inline" *ngFor="let label of contact.labels">{{label.name}}</span>
        </div>
      </div>
    </div>

    <div class="right" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="end center">
      <div class="wrap" (click)="editContact($event, contact, 'edit')"><i class="material-icons"
                                                                          matTooltip="Edit contact"
                                                                          matTooltipShowDelay="500"
                                                                          matTooltipHideDelay="300">edit</i></div>
      <div class="wrap" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"
           (onMenuClose)="menuClose()" (onMenuOpen)="menuOpen()"><i class="material-icons"
                                                                    matTooltip="More actions" matTooltipShowDelay="500"
                                                                    matTooltipHideDelay="300">more_vert</i></div>
      <div class="wrap" (click)="dialogRef.close()"><i class="material-icons"
                                                       matTooltip="Close" matTooltipShowDelay="500"
                                                       matTooltipHideDelay="300">close</i></div>
    </div>
  </div>

  <div class="content">
    <div class="title">Contact details</div>

    <!--company-->
    <div class="section" *ngIf="contact.company" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="icon-div" fxFlex="0 0 63px" fxLayout="row" fxLayoutAlign="center start">
        <i class="material-icons">business</i>
      </div>
      <div class="value-div" fxFlex="1 0 auto">
        <span class="value-text" *ngIf="contact.jobTitle">{{contact.jobTitle}}, </span>
        <span class="value-text">{{contact.company}}</span>
      </div>
    </div>

    <!--emails-->
    <div class="section" *ngIf="contact.emails.length" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="icon-div" fxFlex="0 0 63px" fxLayout="row" fxLayoutAlign="center start">
        <i class="material-icons">email</i>
      </div>
      <div class="value-div" fxFlex="1 0 auto">
        <div class="value" *ngFor="let value of contact.emails">
          <a href="mailto:{{value.email}}" class="value-text" target="_blank">{{value.email}}</a>
          <span class="value-label" *ngIf="value.label">&nbsp;• &nbsp;{{value.label}}</span>
        </div>
      </div>
    </div>

    <!--phones-->
    <div class="section" *ngIf="contact.phones.length" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="icon-div" fxFlex="0 0 63px" fxLayout="row" fxLayoutAlign="center start">
        <i class="material-icons">phone</i>
      </div>
      <div class="value-div" fxFlex="1 0 auto">
        <div class="value" *ngFor="let value of contact.phones">
          <a href="tel:{{Util.getPhoneNo(value)}}" class="value-text" target="_blank">{{Util.getPhoneDisplay(value)}}</a>
          <span class="value-label" *ngIf="value.label">&nbsp;• &nbsp;{{value.label}}</span>
        </div>
      </div>
    </div>

    <!--addresses-->
    <div class="section" *ngIf="contact.addresses.length" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="icon-div" fxFlex="0 0 63px" fxLayout="row" fxLayoutAlign="center start">
        <i class="material-icons">place</i>
      </div>
      <div class="value-div" fxFlex="1 0 auto">
        <div class="value" *ngFor="let value of Util.replaceNewLinesWithSpace(contact.addresses, 'address')">
          <a [href]="Util.getEncodedAddress(value.address)" class="value-text" target="_blank">{{value.address}}</a>
          <span class="value-label" *ngIf="value.label">&nbsp;• &nbsp;{{value.label}}</span>
        </div>
      </div>
    </div>

    <!--websites-->
    <div class="section" *ngIf="contact.websites.length" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="icon-div" fxFlex="0 0 63px" fxLayout="row" fxLayoutAlign="center start">
        <i class="material-icons">link</i>
      </div>
      <div class="value-div" fxFlex="1 0 auto">
        <div class="value" *ngFor="let value of contact.websites">
          <a [href]="Util.getUrl(value.website)" class="value-text" target="_blank">{{value.website}}</a>
          <span class="value-label" *ngIf="value.label">&nbsp;• &nbsp;{{value.label}}</span>
        </div>
      </div>
    </div>

    <!--notes-->
    <div class="section" *ngIf="contact.notes" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="icon-div" fxFlex="0 0 63px" fxLayout="row" fxLayoutAlign="center start">
        <i class="material-icons">description</i>
      </div>
      <div class="value-div" fxFlex="1 0 auto">
        <span class="value-text word-break" [innerHTML]="Util.getNotes(contact.notes)"></span>
      </div>
    </div>

  </div> <!--content-->

</div> <!-- dialog -->


<!--more actions menu-->
<mat-menu [overlapTrigger]="true" class="more-actions" xPosition="before" yPosition="below">
  <button mat-menu-item *ngIf="store.selectedLabel" (click)="removeLabelFromContact($event)">
    <i class="left material-icons mat-icon">cancel</i>
    <span>Remove from label</span>
  </button>
  <button mat-menu-item (click)="deleteContact($event)">
    <i class="left material-icons mat-icon">delete</i>
    <span>Delete</span>
  </button>
  <div class="separator"></div>
  <span class="label">Change labels</span>
  <button mat-menu-item *ngFor="let label of labels" (click)="toggleLabel($event, label)">
    <i class="left material-icons mat-icon">label</i>
    <span>{{label.name}}</span>
    <i class="right material-icons" *ngIf="label.selected">check</i>
  </button>
</mat-menu>
