<div role="button" tabindex="0" class="label text-ellipsis" fxLayout fxLayoutAlign="start center">
  <i class="material-icons" fxFlex="0 0 auto">{{label.icon}}</i>
  <div class="name text-ellipsis-inline"  fxFlex="0 0 auto">{{label.name}}</div>
  <div class="counts" fxFlex="0 0 auto">
    <div *ngIf="label.id === 'contacts' && store.state.contacts.length">({{store.state.contacts.length}})</div>
    <div *ngIf="label.id !== 'contacts' && label.numContacts">({{label.numContacts}})</div>
  </div>

  <div *ngIf="!label.noEdit" class="icons">
    <!--keep these together, no space between-->
    <div class="wrap" (click)="parent.editLabel($event, label, 'edit')"><i class="material-icons"
            (keydown)="parent.editLabel($event, label, 'edit')">edit</i></div>
    <div class="wrap" (click)="parent.deleteLabel($event, label)"><i class="material-icons">delete</i></div>
  </div>
</div>
