@import '../../../../styles/comp-index';

.label {
  width: 259px;
  height: 41px;
  position: relative;
  cursor: pointer;
  padding: 0 20px;
  color: $link-gray;
  white-space: nowrap;
  overflow: hidden;
  outline: 0;
  * {
    vertical-align: middle;
    color: $link-gray;
  }
  i {
    font-size: 20px;
  }
  .text {
    position: relative;
    top: 1px;
    margin-left: 14px;
  }
  &:hover, &:focus, :host.active > & {
    background: $bg-light-gray;
  }
  :host.active > & {
    * {
      color: $link-active;
    }
  }

  .icons {
    display: none;
    position: absolute;
    top: 6px;
    right: 3px;
    padding-left: 5px;
    z-index: 10;
    background: $bg-light-gray;
    div {
      display: inline-block;
      padding: 3px;
      i {
        font-size: 18px;
      }
    }
  }

  &:hover .icons {
    display: block;
  }
}

