<div role="button" tabindex="0" class="label text-ellipsis">
  <span class="ghost"></span>
  <i class="material-icons">{{label.icon}}</i>
  <span class="text">{{label.name}}</span>
  <span *ngIf="label.numContacts">({{label.numContacts}})</span>

  <div *ngIf="!label.noEdit" class="icons">
    <!--keep these together, no space between-->
    <div><i class="material-icons" (click)="parent.editLabel($event, label, 'edit')"
            (keydown)="parent.editLabel($event, label, 'edit')"
    >edit</i></div><div><i class="material-icons" (click)="parent.deleteLabel($event, label)">delete</i></div>
  </div>
</div>
