
@import '../../../../styles/comp-index';


.leftnav {
  transition: margin-left, left 200ms;
  width: $leftnav-width;
  margin-left: 0;
  padding-top: 15px;
  border-right: 1px solid $border-gray;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1px;
  z-index: 100;

  @media (max-width: $breakpoint-md) {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.closed {
    margin-left: -$leftnav-width;

    @media (max-width: $breakpoint-md) {
      margin-left: 0;
      left: -$leftnav-width;
    }
  }

  & /deep/ .mat-expansion-panel-body {
    padding-left: 0;
  }

  & mat-expansion-panel.labels {
    margin-top: -6px;
  }

}



