
@import '../../../../styles/comp-index';


$left-nav-width: 259px;

:host {
  transition: margin-left, left 200ms;
  width: $left-nav-width;
  margin-left: 0;
  padding-top: 15px;
  border-right: 1px solid $gray-border;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1px;
  @media (max-width: $breakpoint-md) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

:host(.closed) {
  margin-left: -$left-nav-width;

  @media (max-width: 768px) {
    margin-left: 0;
    left: -$left-nav-width;
  }
}

:host /deep/ .mat-expansion-panel-body {
  padding-left: 0;
}

mat-expansion-panel.labels {
  margin-top: -6px;
}

