<h1>header</h1>
<h2>header</h2>
<h3>header</h3>
<h4>header</h4>
<div class="">nobody</div>
<div class="mat-body-1">mat-body</div>
<div class="mat-body-2">mat-body</div>
<div class="mat-caption">captiony</div>
<div class="mat-button">button</div>

<div style="height:100%;" fxLayout="column">
  <dk-progress fxFlex="0 0 auto"></dk-progress>
  <dk-header fxFlex="0 0 auto"></dk-header>
  <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start stretch">
      <dk-leftnav *ngIf="store.state.user" fxFlex="0 0 auto"></dk-leftnav>
      <div fxFlex="1 1 auto" fxLayout="column">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
