
@import "../styles/comp-index";

.dkhost-root {
  height: 100%;

  // Custom header that uses only the Material `font-size` and `font-family`.
  .head {
    font-size: mat-font-size($config, headline);
    font-family: mat-font-family($config);
  }

  .nav-and-main {
    position: relative;
    .main {
      min-width: 0;
    }
  }

}




