
<div class="dialog">

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="name text-ellipsis" *ngIf="addMode">Create contact</div>
    <div class="name text-ellipsis" *ngIf="editMode">Edit contact</div>
  </div>

  <div class="content">
    <form id="form" name="form" #form="ngForm" autocomplete="off" (submit)="submit(form)">

      <!--name-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <div class="wrap name"><i class="material-icons">person</i></div>
        </div>
        <div class="inputs" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
          <mat-form-field fxFlex="1 1 auto">
            <input matInput #nameRef #nameNg="ngModel" name="name" [(ngModel)]="contact.name"
                   (input)="updateNameAndCompanyValidation()" (blur)="updateNameAndCompanyValidation()"
                   placeholder="Name" autocomplete="noway">
            <mat-error *ngIf="nameNg.invalid && nameNg.errors.nameOrCompany">Name or company required</mat-error>
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="start center">
          <div class="wrap" (click)="contact.name = ''">
            <i class="clear material-icons">cancel</i></div>
        </div>
      </div>

      <!--company-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons">business</i>
        </div>
        <div class="inputs" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
          <mat-form-field fxFlex="1 1 auto">
            <input matInput #companyNg="ngModel" name="company" [(ngModel)]="contact.company"
                   placeholder="Company" autocomplete="noway" (input)="updateNameAndCompanyValidation()" (blur)="updateNameAndCompanyValidation()">
            <mat-error *ngIf="companyNg.invalid && companyNg.errors.nameOrCompany">Name or company required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 auto">
            <input matInput #jobTitle="ngModel" name=jobTitle [(ngModel)]="contact.jobTitle" placeholder="Job title">
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="start center">
          <div class="wrap" (click)="contact.company = contact.jobTitle = ''">
            <i class="clear material-icons">cancel</i></div>
        </div>
      </div>

      <!--emails-->

      <div class="section" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let email of contact.emails; index as idx">

        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons" *ngIf="idx === 0">email</i>
        </div>
        <div class="inputs" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
          <mat-form-field fxFlex="1 1 auto">
            <input matInput #emailRef #emailNg="ngModel" name="email{{idx}}"
                   [(ngModel)]="email.email" [ngModelOptions]="{updateOn:'change'}" placeholder="Email" autocomplete="noway"
                   pattern=" *[\w-\.]+@([\w-]+\.)+[\w-]{2,4} *">
            <mat-error *ngIf="emailNg.invalid &&  emailNg.errors.pattern">Invalid email</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 auto">
            <input matInput name="emailLabel{{idx}}" #emailLabel="ngModel" name=emailLabel{{idx}} [(ngModel)]="email.label"
                   placeholder="Label" autocomplete="noway" [matAutocomplete]="autoEmail">
            <mat-autocomplete #autoEmail="matAutocomplete">
              <mat-option value="Home">Home</mat-option>
              <mat-option value="Work">Work</mat-option>
              <mat-option value ="Other">Other</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="icons" fxLayout="row" fxLayoutAlign="start center">
          <div class="wrap" (click)="contact.emails.length === 1? email.email = email.label = '': contact.emails.splice(idx, 1)">
            <i class="clear material-icons">cancel</i></div>
          <div class="wrap" *ngIf="idx === contact.emails.length - 1" (click)="addEmail()">
            <i class="add material-icons">add_circle</i></div>
        </div>
      </div>

      <!--addresses-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let addr of contact.addresses; index as idx">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons" *ngIf="idx === 0">place</i>
        </div>
        <div class="inputs" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
          <mat-form-field fxFlex="1 1 auto">
            <textarea matInput #addrRef #addrNg="ngModel" name="addr{{idx}}"
                      [(ngModel)]="addr.address" [ngModelOptions]="{updateOn:'change'}" placeholder="Address" autocomplete="noway"></textarea>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 auto">
            <input matInput name="addrLabel{{idx}}" #addrLabel="ngModel" name=addrLabel{{idx}} [(ngModel)]="addr.label" placeholder="Label" autocomplete="noway">
          </mat-form-field>
        </div>

        <div class="icons" fxLayout="row" fxLayoutAlign="start center">
          <div class="wrap" (click)="contact.addresses.length === 1? addr.address = addr.label = '': contact.addresses.splice(idx, 1)">
            <i class="clear material-icons">cancel</i></div>
          <div class="wrap" *ngIf="idx === contact.addresses.length - 1" (click)="addAddress()">
            <i class="add material-icons">add_circle</i></div>
        </div>
      </div>









      <!--<pre>{{contact | json}}</pre>-->

      <div mat-dialog-actions="">
        <button type="submit" form="form" mat-button color="primary" (click)="submit(form)"
        [disabled]="form.invalid">SAVE</button>
        <button mat-button mat-dialog-close>CANCEL</button>
      </div>

    </form>
  </div> <!--content-->

</div> <!-- dialog -->


<!--email menu-->


