
<div class="dialog">

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">

        <div class="name-div" fxLayout="column" fxLayoutAlign="end start">
          <div class="name text-ellipsis">{{contact.name || contact.company}}</div>
        </div>
  </div>

  <div class="content">

    <div class="footer">
      <button type="submit" form="form1" mat-button color="primary" [mat-dialog-close]="contact">Save</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>

  </div> <!--content-->

</div> <!-- dialog -->


