@import '../../../../styles/comp-index';

// this changes all of them without the config panelClass=contactDetailCssHack to single it out
/deep/ .contactDetailCssHack .mat-dialog-container {
  padding: 0;
  overflow-y: unset;
  overflow-x: unset;
}

.dialog {
  $height-header: 70px;
  $height-content: calc(500px - #{$height-header});// 500 is height set in dialog config, keep these in sync

  .header {
    height: $height-header;
    background-color: $bg-light-gray;
    padding: 25px;

    .name {
      font-size: 20px;
      max-width: 100%;
    }

  }

  .content {
    padding: 24px;
    color: $link-gray;
    font-size: 13px;
    overflow-y: auto;
    overflow-x: hidden;
    height: $height-content;

    .section {
      @include outline;
      &:not(:first-of-type) {
        margin-top: 24px;
      }

      .pic {
        width: 82px;
      }

      .inputs {
        max-width: 80%;
        padding: 0 20px;
      }

      .icons {
        .wrap {
          padding: 6px;
          cursor: pointer;

          i {
            font-size: 20px;
            display: block;
          }
          i.clear {
            color: rgba(0,0,0,.54);
            display: none;
          }

          i.add {
            color: $mat-primary;
          }
        }


      }

      &:hover, &:focus-within {
        .icons {
          .wrap {
            i.clear {
              display: block;
            }
          }
        }
      }

    }// section


  }// content

}// dialog




