
<div class="dialog">

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="name text-ellipsis" *ngIf="addMode">Create contact</div>
    <div class="name text-ellipsis" *ngIf="editMode">Edit contact</div>
  </div>

  <div class="content">
    <form id="form" name="form" #form="ngForm">




      <!--name-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <div class="wrap name"><i class="material-icons">person</i></div>
        </div>
        <div class="inputs" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
          <mat-form-field floatPlaceholder="never" fxFlex="1 1 auto">
            <input matInput #name="ngModel" name="name" [(ngModel)]="contact.name" placeholder="Name" autocomplete="off">
            <mat-error *ngIf="name.invalid && company.errors.nameOrCompanyRequired">Name or Company required</mat-error>
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="end center">
          <div class="wrap" *ngIf="contact.company || contact.jobTitle"
               (click)="contact.company = contact.jobTitle = ''">
            <i class="clear material-icons" matTooltip="Remove">cancel</i></div>
          <div class="wrap">&nbsp;</div>
        </div>
      </div>

      <!--company-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons">business</i>
        </div>
        <div class="inputs" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
          <mat-form-field floatPlaceholder="never" fxFlex="1 1 auto">
            <input matInput #company="ngModel" name="company" [(ngModel)]="contact.company" placeholder="Company" autocomplete="off">
            <mat-error *ngIf="company.invalid && company.errors.nameOrCompanyRequired">Name or Company required</mat-error>
          </mat-form-field>
          <mat-form-field floatPlaceholder="never" fxFlex="1 1 auto">
            <input matInput #jobTitle="ngModel" name=jobTitle [(ngModel)]="contact.jobTitle" placeholder="Job title" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="end center">
          <div class="wrap" *ngIf="contact.company || contact.jobTitle"
               (click)="contact.company = contact.jobTitle = ''">
            <i class="clear material-icons" matTooltip="Remove">cancel</i></div>
          <div class="wrap">&nbsp;</div>
        </div>
      </div>




      <!--emails-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let email of contact.emails; index as index">
        <div class="pic" fxFlex="0 0 55px" *ngIf="index === 0" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons">email</i>
        </div>
        <div class="pic" fxFlex="0 0 55px" *ngIf="index !== 0">&nbsp;</div>
        <div class="inputs" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
          <mat-form-field floatPlaceholder="never" fxFlex="1 1 auto">
            <input type="email" matInput #email{{index}}="ngModel" name="email{{index}}" [(ngModel)]="email.email" placeholder="Email" autocomplete="off">
            <!--<mat-error *ngIf="email{{index}}.invalid && company.errors.?whatsemailerrorcalled??">Invalid email</mat-error>-->
          </mat-form-field>
          <mat-form-field floatPlaceholder="never" fxFlex="1 1 auto">
            <input matInput #emailLabel{{index}}="ngModel" name=emailLabel{{index}} [(ngModel)]="email.label" placeholder="Label" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="end center">
          <div class="wrap" *ngIf="email.label || email.label"
               (click)="email.email = email.label = ''">
            <i class="clear material-icons" matTooltip="Remove">cancel</i></div>
          <div class="wrap" *ngIf="index !== contact.emails.length">&nbsp;</div>
          <div class="wrap" *ngIf="index === contact.emails.length" (click)="contact.emails.push({})">
            <i class="add material-icons" matTooltip="add">add_circle</i></div>
        </div>
      </div>









      <!--<pre>{{contact | json}}</pre>-->

      <div mat-dialog-actions="">
        <button type="submit" form="form" mat-button color="primary" [mat-dialog-close]="contact"
        [disabled]="!form.dirty">SAVE</button>
        <button mat-button mat-dialog-close>CANCEL</button>
      </div>

    </form>
  </div> <!--content-->

</div> <!-- dialog -->

