

<form name="form" #form="ngForm">
  <div class="inputs">
    <mat-form-field floatPlaceholder="never">
      <input matInput #name="ngModel" name="name" [(ngModel)]="user.name" placeholder="Name" autocomplete="off" (input)="inputChange()" required>
      <mat-error *ngIf="name.invalid && name.errors.required">Required!</mat-error>
    </mat-form-field>
    <mat-form-field floatPlaceholder="never">
      <input matInput #company="ngModel" name="company" [(ngModel)]="user.company" placeholder="Company" autocomplete="off" (input)="inputChange()" required>
      <mat-error *ngIf="company.invalid && company.errors.required">Required!</mat-error>
    </mat-form-field>
    <div class="error" *ngIf="userNotFound">User not found</div>
    <div class="error" *ngIf="userAlreadyExists">User already exists</div>
  </div>

  <div *ngIf="path === 'login'">
    <mat-checkbox name="stayLoggedIn" type="checkbox" [(ngModel)]="stayLoggedIn">Stay logged in?</mat-checkbox><br>
    <div class="button">
      <button type="submit" mat-button color="primary" (click)="login()" [disabled]="form.invalid">login</button>
    </div>
    <div class="link">
      <a routerLink="/register">register</a>
    </div>
  </div>

  <div *ngIf="path === 'register'">
    <div style="height:24px">&nbsp;</div>
    <div class="button">
      <button type="submit" mat-button  color="primary" (click)="register()" [disabled]="form.invalid">register</button>
    </div>
    <div class="link">
      <a routerLink="/login">login</a>
    </div>
  </div>

</form>
