
<br>
<div mat-dialog-content>

  <form id="form" name="form" #form="ngForm" (submit)="submit(form)">
    <mat-form-field>
      <input name="name" matInput #name="ngModel" [(ngModel)]="label.name" [placeholder]="placeholder" autocomplete="off">
      <mat-error *ngIf="name.invalid && name.errors.required">Required!</mat-error>
      <mat-error *ngIf="name.invalid && name.errors.nameAlreadyExists">Name already exists</mat-error>
    </mat-form-field>
  </form>

</div>

<div mat-dialog-actions>
  <button type="submit" form="form" mat-button color="primary" [mat-dialog-close]="data" [disabled]="form.invalid">OK</button>
  <button mat-button mat-dialog-close>CANCEL</button>
</div>

