
<h2 mat-dialog-title="">Contact Detail</h2>

<div mat-dialog-content>

  <form id="form1">
    <div>id: {{contact.id}}</div>
    <div>name: {{contact.name}}</div>
  </form>

  <br>
  <button mat-button (click)="editContact($event, contact, 'edit')"
          (keydown)="editContact($event, contact, 'edit')">edit
  </button>
  <br><br>

  <br>
  <button mat-button (click)="showJson = !showJson">show json</button><br>

  <pre *ngIf="showJson">
  {{contact | json}}
</pre>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

