@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

.error-text {
  color: red;
}

@mixin outline {
  outline: 1px solid;
  outline-offset: -1px;
}

.outline {
  @include outline;
}
.outline-red {
  @include outline;
  outline-color: red;
}

.oo2 {
  outline-offset: -2px;
}

/*
mat-form-field {
  margin-right: 14px;
}
*/
