
<div class="contact-edit-dialog">

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="name text-ellipsis" *ngIf="addMode">Create contact</div>
    <div class="name text-ellipsis" *ngIf="editMode">Edit contact</div>
    <div class="wrap" (click)="cancelDialog()">
      <i class="material-icons" matTooltip="Close" matTooltipShowDelay="500" matTooltipHideDelay="300">close</i>
    </div>
  </div>

  <div class="content">
    <form id="form" name="form" #form="ngForm" autocomplete="off">

      <!--name-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <div class="wrap name"><i class="material-icons">person</i></div>
        </div>
        <div class="inputs" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="1 1 auto">
            <input class="po-name" matInput #nameNg="ngModel" name="name" [(ngModel)]="contact.name"
                   (input)="updateNameAndCompanyValidation()" (blur)="updateNameAndCompanyValidation()"
                   placeholder="Name" autocomplete="noway" spellcheck="false">
            <mat-error class="name-error" *ngIf="nameNg.invalid && nameNg.errors.nameOrCompany">Name or company required</mat-error>
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 64px">
          <div class="wrap" (click)="contact.name = ''">
            <i class="clear material-icons">cancel</i></div>
        </div>
      </div>

      <!--company-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons">business</i>
        </div>
        <div class="inputs" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="1 1 60%">
            <input class="company" matInput #companyNg="ngModel" name="company" [(ngModel)]="contact.company"
                   placeholder="Company" autocomplete="noway" (input)="updateNameAndCompanyValidation()"
                   (blur)="updateNameAndCompanyValidation()" spellcheck="false">
            <mat-error *ngIf="companyNg.invalid && companyNg.errors.nameOrCompany">Name or company required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 35%">
            <input class="job-title" matInput #jobTitle="ngModel" name=jobTitle [(ngModel)]="contact.jobTitle" placeholder="Job title" spellcheck="false">
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 64px">
          <div class="wrap" (click)="contact.company = contact.jobTitle = ''">
            <i class="clear material-icons">cancel</i></div>
        </div>
      </div>

      <!--emails-->

      <div class="section email" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let email of contact.emails; index as idx">

        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons" *ngIf="idx === 0">email</i>
        </div>
        <div class="inputs" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="1 1 60%">
            <input class="email" matInput #emailRef #emailNg="ngModel" name="email{{idx}}"
                   [(ngModel)]="email.email" [ngModelOptions]="{updateOn:'change'}" placeholder="Email" autocomplete="noway"
                   pattern=" *[\w-\.]+@([\w-]+\.)+[\w-]{2,4} *" spellcheck="false">
            <mat-error class="email-error" *ngIf="emailNg.invalid &&  emailNg.errors.pattern">Invalid email</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 35%">
            <input class="email-label" matInput name="emailLabel{{idx}}" #emailLabelNg="ngModel" name=emailLabel{{idx}} [(ngModel)]="email.label"
                   placeholder="Label" autocomplete="noway" [matAutocomplete]="autoEmail" spellcheck="false">
            <mat-autocomplete #autoEmail="matAutocomplete">
              <mat-option class="email-option" *ngFor="let labelEmail of filteredEmailLabels && filteredEmailLabels[idx] | async" [value]="labelEmail">
                {{ labelEmail }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="icons" fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 64px">
          <div class="wrap" (click)="contact.emails.length === 1? email.email = email.label = '': contact.emails.splice(idx, 1)">
            <i class="clear material-icons">cancel</i></div>
          <div class="wrap" *ngIf="idx === contact.emails.length - 1" (click)="addEmail()">
            <i class="add material-icons">add_circle</i></div>
        </div>
      </div>

      <!--phones-->
      <div class="section phone" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let phn of contact.phones; index as idx">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons" *ngIf="idx === 0">phone</i>
        </div>
        <div class="inputs" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="1 1 60%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-form-field fxFlex="1 1 30%">
              <mat-select class="prefix" [(ngModel)]="phn.prefix" name="prefix{{idx}}" placeholder="Country">
                <mat-option data-countryCode="US" value="1">USA (+1)</mat-option>
                <mat-optgroup label="Other countries">
                  <mat-option data-countryCode="DZ" value="213">Algeria (+213)</mat-option>
                  <mat-option data-countryCode="AD" value="376">Andorra (+376)</mat-option>
                  <mat-option data-countryCode="AO" value="244">Angola (+244)</mat-option>
                  <mat-option data-countryCode="AI" value="1264">Anguilla (+1264)</mat-option>
                  <mat-option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</mat-option>
                  <mat-option data-countryCode="AR" value="54">Argentina (+54)</mat-option>
                  <mat-option data-countryCode="AM" value="374">Armenia (+374)</mat-option>
                  <mat-option data-countryCode="AW" value="297">Aruba (+297)</mat-option>
                  <mat-option data-countryCode="AU" value="61">Australia (+61)</mat-option>
                  <mat-option data-countryCode="AT" value="43">Austria (+43)</mat-option>
                  <mat-option data-countryCode="AZ" value="994">Azerbaijan (+994)</mat-option>
                  <mat-option data-countryCode="BS" value="1242">Bahamas (+1242)</mat-option>
                  <mat-option data-countryCode="BH" value="973">Bahrain (+973)</mat-option>
                  <mat-option data-countryCode="BD" value="880">Bangladesh (+880)</mat-option>
                  <mat-option data-countryCode="BB" value="1246">Barbados (+1246)</mat-option>
                  <mat-option data-countryCode="BY" value="375">Belarus (+375)</mat-option>
                  <mat-option data-countryCode="BE" value="32">Belgium (+32)</mat-option>
                  <mat-option data-countryCode="BZ" value="501">Belize (+501)</mat-option>
                  <mat-option data-countryCode="BJ" value="229">Benin (+229)</mat-option>
                  <mat-option data-countryCode="BM" value="1441">Bermuda (+1441)</mat-option>
                  <mat-option data-countryCode="BT" value="975">Bhutan (+975)</mat-option>
                  <mat-option data-countryCode="BO" value="591">Bolivia (+591)</mat-option>
                  <mat-option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</mat-option>
                  <mat-option data-countryCode="BW" value="267">Botswana (+267)</mat-option>
                  <mat-option data-countryCode="BR" value="55">Brazil (+55)</mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field >
            <mat-form-field fxFlex="fxFlex=1 1 67%">
              <input class="phone" matInput #phoneRef name="phone{{idx}}" [(ngModel)]="phn.phone" placeholder="Phone" autocomplete="noway" spellcheck="false">
            </mat-form-field>
          </div>
          <mat-form-field fxFlex="1 1 35%">
            <input class="phone-label" matInput name="phoneLabel{{idx}}" #phoneLabelNg="ngModel" name=phoneLabel{{idx}} [(ngModel)]="phn.label"
                   placeholder="Label" autocomplete="noway" [matAutocomplete]="autoPhone" spellcheck="false">
            <mat-autocomplete #autoPhone="matAutocomplete">
              <mat-option class="phn-option" *ngFor="let labelPhone of filteredPhoneLabels && filteredPhoneLabels[idx] | async" [value]="labelPhone">
                {{ labelPhone }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="icons" fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 64px">
          <div class="wrap" (click)="contact.phones.length === 1? phn.prefix = phn.phone = phn.label = '': contact.phones.splice(idx, 1)">
            <i class="clear material-icons">cancel</i></div>
          <div class="wrap" *ngIf="idx === contact.phones.length - 1" (click)="addPhone()">
            <i class="add material-icons">add_circle</i></div>
        </div>
      </div>

      <!--addresses-->
      <div class="section addr" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let addr of contact.addresses; index as idx">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center top">
          <i class="material-icons" *ngIf="idx === 0">place</i>
        </div>
        <div class="inputs" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between top">
          <mat-form-field fxFlex="1 1 60%">
            <textarea class="addr" [rows]="addr.address.split('\n').length" matInput #addrRef name="addr{{idx}}" [(ngModel)]="addr.address" placeholder="Address" autocomplete="noway" spellcheck="false"></textarea>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 35%">
            <input class="addr-label" matInput name="addrLabel{{idx}}" #addrLabelNg="ngModel" name=addrLabel{{idx}} [(ngModel)]="addr.label"
                   placeholder="Label" autocomplete="noway" [matAutocomplete]="autoAddr" spellcheck="false">
            <mat-autocomplete #autoAddr="matAutocomplete">
              <mat-option class="addr-option" *ngFor="let labelAddr of filteredAddrLabels && filteredAddrLabels[idx] | async" [value]="labelAddr">
                {{ labelAddr }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="icons" fxLayout="row" fxLayoutAlign="start top" fxFlex="0 0 64px">
          <div class="wrap" (click)="contact.addresses.length === 1? addr.address = addr.label = '': contact.addresses.splice(idx, 1)">
            <i class="clear material-icons">cancel</i></div>
          <div class="wrap" *ngIf="idx === contact.addresses.length - 1" (click)="addAddress()">
            <i class="add material-icons">add_circle</i></div>
        </div>
      </div>

      <!--websites-->
      <div class="section website" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let web of contact.websites; index as idx">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons" *ngIf="idx === 0">link</i>
        </div>
        <div class="inputs" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="1 1 60%">
            <input class="site" matInput #webRef name="web{{idx}}" [(ngModel)]="web.website" placeholder="Website" autocomplete="noway" spellcheck="false">
          </mat-form-field>
          <mat-form-field fxFlex="1 1 35%">
            <input class="site-label" matInput name="webLabel{{idx}}" #webLabelNg="ngModel" name=webLabel{{idx}} [(ngModel)]="web.label"
                   placeholder="Label" autocomplete="noway" [matAutocomplete]="autoWeb" spellcheck="false">
            <mat-autocomplete #autoWeb="matAutocomplete">
              <mat-option class="web-option" *ngFor="let labelWeb of filteredWebLabels && filteredWebLabels[idx] | async" [value]="labelWeb">
                {{ labelWeb }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="icons" fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 64px">
          <div class="wrap" (click)="contact.websites.length === 1? web.website = web.label = '': contact.websites.splice(idx, 1)">
            <i class="clear material-icons">cancel</i></div>
          <div class="wrap" *ngIf="idx === contact.websites.length - 1" (click)="addWebsite()">
            <i class="add material-icons">add_circle</i></div>
        </div>
      </div>

      <!--notes-->
      <div class="section" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="pic" fxFlex="0 0 55px" fxLayout="row" fxLayoutAlign="center top">
          <div class="wrap notes"><i class="material-icons">person</i></div>
        </div>
        <div class="inputs" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between top">
          <mat-form-field fxFlex="1 1 auto">
            <textarea class="notes" [rows]="contact.notes && contact.notes.indexOf('\n') !== -1 ? contact.notes.split('\n').length: 1" matInput name="notes" [(ngModel)]="contact.notes"
                      placeholder="Notes" autocomplete="noway" spellcheck="false"></textarea>
          </mat-form-field>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="start top" fxFlex="0 0 64px">
          <div class="wrap" (click)="contact.notes = ''">
            <i class="clear material-icons">cancel</i></div>
        </div>
      </div>

      <!--
            <a href="" (click)="$event.preventDefault(); showJson = !showJson">show json</a><br>
            <pre *ngIf="showJson">{{contact|json}}</pre>
      -->

      <div mat-dialog-actions="">
        <button class="button-submit" type="button" form="form" mat-button color="primary" (click)="save()"
        [disabled]="form.invalid">SAVE</button>
        <button class="button-cancel" type="button" mat-button  (click)="cancelDialog()">CANCEL</button>
      </div>

    </form>
  </div> <!--content-->

</div> <!-- dialog -->


<!--email menu-->


