

<div class="contact-list" fxFlex="1 1 100%" fxLayout="">

  <div *ngIf="contacts.length > 0" fxFlexFill>
  <div class="label-title" *ngIf="store.state.selectedLabel">
    <span class="ghost"></span>
    <span>{{store.state.selectedLabel.name}}</span>
    <span *ngIf="store.state.selectedLabel.numContacts">({{store.state.selectedLabel.numContacts}})</span>
    <br>
  </div>

  <div *ngFor="let contact of contacts">
    <dk-contact-list-item [contact]="contact" (click)="openContactDetail($event, contact)"
                          (keydown)="openContactDetail($event, contact)"></dk-contact-list-item>
  </div>

</div>

  <div class="no-contacts"  *ngIf="contacts.length === 0" class="no-contacts">
    <div class="book-pic"></div>
    <br>
    <div *ngIf="!store.state.selectedLabel">No contacts</div>
    <div *ngIf="store.state.selectedLabel">No contacts labeled "{{store.state.selectedLabel.name}}"</div>
  </div>

  <button class="add-button" mat-fab color="primary" (click)="editContact($event, contact, 'add')">
    <i class="material-icons">add</i>
  </button>

</div>

